/* Файл blocks/information.less */

.information {
  background-color: #f2f2f2;
  .info {
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 30px;
    .info-text {
      font-size: 24px;
      font-weight: 300;
      text-transform: none;
      color: #283645;
    }
  }
  .info-advantages {
    background-color: #f2f2f2;
    text-transform: none;
    .info-advantages__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      color: #000000;
    }
    .info-advantages__text {
      color: #283645;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
