/* Файл blocks/main-header.less */
.main-header {
  display: flex;
  flex-direction: column;
  .header-logo {
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 25px;
    height: 66px;
  }
}

@media (min-width: @tablet-width) {
  .header-logo {
    order: 2;
    height: 366px;
  }
}

@media (min-width: @desktop-width) {
  .header-logo  {
    height: 110px;
  }
}

.main-header,
.header-logo {
  .no-outline();
}

.main-nav {
  display: flex;
  width: 320px;
  margin: 0 auto;
  /*flex-direction: column;*/
  .main-nav__wrapper ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-top: 7px;
    padding-bottom: 7px;
  }
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      line-height: 32px;
    }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin: 0 auto;
  }
}
