@import "blocks/main-header.less";
@import "blocks/page-main.less";
@import "blocks/information.less";
@import "blocks/reivew.less";
@import "blocks/price.less";
@import "blocks/main-footer.less";
@import "blocks/page-photo.less";
@import "blocks/page-gallery.less";
@import "blocks/upload.less";
@import "blocks/photo-footer.less";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #1d2631;
  color: #ffffff;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.general {
  width: 320px;
  margin: auto;
  padding: auto;
}
